
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3686580 */
  src: url('//at.alicdn.com/t/c/font_3686580_iaisejjpspa.woff2?t=1664894053190') format('woff2'),
       url('//at.alicdn.com/t/c/font_3686580_iaisejjpspa.woff?t=1664894053190') format('woff'),
       url('//at.alicdn.com/t/c/font_3686580_iaisejjpspa.ttf?t=1664894053190') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: "\e620";
}

.icon-bianji:before {
  content: "\e600";
}

.icon-shouji:before {
  content: "\e6c7";
}

.icon-huodong:before {
  content: "\e64d";
}

.icon-sousuo:before {
  content: "\e693";
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-canju:before {
  content: "\e66f";
}

.icon-qiehuanzhanghao:before {
  content: "\e618";
}

.icon-dangao:before {
  content: "\e619";
}

.icon-jifen:before {
  content: "\e897";
}

.icon-ziliaoshouce:before {
  content: "\e898";
}

.icon-danju:before {
  content: "\e89b";
}

.icon-chuangjiandanju:before {
  content: "\e89d";
}

.icon-tijikongjian:before {
  content: "\e89f";
}

.icon-caiwu:before {
  content: "\e8ae";
}

.icon-gengduo-shuxiang:before {
  content: "\e8c4";
}

.icon-fanhuijiantou:before {
  content: "\e8b5";
}

.icon-yinhangqia:before {
  content: "\e936";
}

.icon-fanhuidingbu:before {
  content: "\e713";
}

.icon-huodong1:before {
  content: "\e63e";
}

.icon-jiantou_zuoyouqiehuan:before {
  content: "\eb0d";
}

.icon-yk_yuanquan_fill:before {
  content: "\e601";
}

.icon-dingwei:before {
  content: "\e642";
}

.icon-gengduo:before {
  content: "\e664";
}

.icon-24gl-cartFull4:before {
  content: "\e87a";
}

.icon-dingwei1:before {
  content: "\e629";
}

.icon-dingwei2:before {
  content: "\e621";
}

.icon-dingwei3:before {
  content: "\e8c5";
}

.icon-youhuiquan:before {
  content: "\e8c8";
}

.icon-vip-fill:before {
  content: "\e78f";
}

.icon-weizhi:before {
  content: "\e61a";
}

.icon-gouxuan:before {
  content: "\e61d";
}

.icon-meiyoushuju:before {
  content: "\e60b";
}

.icon-gouwuche:before {
  content: "\e652";
}

