<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>云轻听音乐</title>
    <link rel="stylesheet" type="text/css" href="17.我的网易云音乐.css">
</head>

<body>
<div id="app">           <!--用来挂载vue框架-->


    <!-- 模糊的音乐背景 -->
    <div id="mask">                      
     <img v-bind:src="musicbackgroundb">
    </div>


    <!-- 主要的音乐背景 -->
<div id="background">

    
    <div id="ship" v-if="lookmv">
        <video v-bind:src="musicMv" controls autoplay height="300px" width="300px">
        </video>
    </div>


    <div id="lookup">
        <input type="text" v-model="musicname"> 
        <button v-on:click="Press">查找</button>
    </div>

    <div id="subjectmusic">             <!--音乐主体遮罩 -->
      <img id="subjectmusic1"  v-bind:src="musicbackgroundb">
    </div>



    <div id="musicbody">                 <!--获取的音乐封面-->
    <div v-bind:class="can">                                      <!--动态黑胶-->
        <img id="picture"  v-bind:src="musicbackgrounda"  v-show="lookpicture">
    </div>
    
    




    <div  v-on:mouseover="roll" v-on:mouseout="moveroll" v-bind:class="musiclistroll">      <!--歌曲界面鼠标移入事件和移出事件来显示滚轮-->

    
    <div id="loop">                                                       <!--每首歌的歌曲图片-->
       <div id="looppicture" v-for="mi in musicsrc">
          <img id="loopmusicpicture"  v-bind:src="mi">
       </div>
    </div>

    <div id="list" v-for="mi in musicnamearr" >                          <!--每条详细歌曲-->
    <img id="left"  src="素材/播放1.png" v-on:click="downmusic(mi.id)">
    <p>{{ mi.name }}</p>
    <img id="right" src="素材/视频播放.png" v-on:click="downMusicMv(mi.mvid)" v-if="mi.mvid!=0" >

    </div>
    </div>



    <div v-bind:class="musiccommentroll" v-on:mouseover="commentroll" v-on:mouseout="commentmove">                   <!--评论界面-->


     <div id="usercomment" v-for="con in usermusiccomment">                    <!--需要v-for循环的界面来渲染用户歌曲的评论-->
      <img id="userpicture"  v-bind:src="con.user.avatarUrl">
       <p id="username"> {{con.user.nickname}} </p>
       <ul>
        <li>
          {{con.content}}
        </li>
       </ul>
     </div>

     
    </div>
    </div>

    <audio v-if="lookmusic" ref='audio'  controls autoplay loop class="myaudio" v-bind:src="listmusic"></audio>

</div>
</div> 



     
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="17.我的网易云音乐.vue"></script>
</body>
</html>